In [1]:
import pandas as pd

In [8]:
data = pd.read_csv('../data/crime-data-versions/v9crimedata.csv')

In [10]:
data.head()

,Incident UID,Agency,Incident Date,CIBRS Unique Offense ID,CIBRS Offense Code,CIBRS Offense Description,Victim UID,Victim Category,Victim Age,Overall Race,City,Zip Code,CIBRS Status,Domestic Violence Incident,HHSA Region
0,661987,SAN DIEGO,2/18/21 17:40,661987-13A-679864,13A,Aggravated Assault,679864,I,22,HISPANIC,SAN DIEGO,92037,ProcessingComplete - Valid,True,NORTH CENTRAL
1,793674,SAN DIEGO,3/16/21 5:30,793674-11A-818279,11A,Forcible Rape,818279,I,41,WHITE,SAN DIEGO,92110,ProcessingComplete - Valid,False,NORTH CENTRAL
2,859375,NATIONAL CITY,3/22/21 14:25,859375-11A-887268,11A,Forcible Rape,887268,I,22,HISPANIC,NATIONAL CITY,91950,ProcessingComplete - Valid,False,SOUTH
3,658884,SAN DIEGO,3/24/21 12:00,658884-13B-676587,13B,Simple Assault,676587,I,45,HISPANIC,SAN DIEGO,92101,ProcessingComplete - Valid,True,CENTRAL
4,721771,CARLSBAD,5/4/21 18:54,721771-13B-743217,13B,Simple Assault,743217,I,28,HISPANIC,CARLSBAD,92011,ProcessingComplete - Valid,False,NORTH COASTAL

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54678 entries, 0 to 54677
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Incident UID                54678 non-null  int64
 1   Agency                      54678 non-null  object
 2   Incident Date               54678 non-null  object
 3   CIBRS Unique Offense ID     54678 non-null  object
 4   CIBRS Offense Code          54678 non-null  object
 5   CIBRS Offense Description   54678 non-null  object
 6   Victim UID                  54678 non-null  int64
 7   Victim Category             54678 non-null  object
 8   Victim Age                  54678 non-null  int64
 9   Overall Race                54678 non-null  object
 10  City                        54678 non-null  object
 11  Zip Code                    54678 non-null  int64
 12  CIBRS Status                54678 non-null  object
 13  Domestic Violence Incident  54678 non-null  bool
 14  HHSA Region                 54678 non-null  object
dtypes: bool(1), int64(4), object(10)
memory usage: 5.9+ MB

In [14]:
data.describe()

       Incident UID    Victim UID    Victim Age      Zip Code
count  5.467800e+04  5.467800e+04  54678.000000  54678.000000
mean   1.555471e+06  1.422683e+06     37.414225  92052.798676
std    5.440128e+05  4.308265e+05     13.907249     70.475083
min    4.143970e+05  4.257940e+05     18.000000  91901.000000
25%    1.006245e+06  1.041300e+06     27.000000  92020.000000
50%    1.629547e+06  1.469153e+06     34.000000  92071.000000
75%    2.072288e+06  1.830946e+06     45.000000  92109.000000
max    2.350606e+06  2.060309e+06    100.000000  92672.000000

In [22]:
data['Overall Race'].value_counts()

Overall Race
HISPANIC            22479
WHITE               20539
BLACK                7421
ASIAN                2671
OTHER                1117
PACIFIC ISLANDER      296
AMERICAN ASIAN         82
UNKNOWN                73
Name: count, dtype: int64